<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651831056889-2ocena3le54pnjf5dpvosd0tkebg3vs3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651831056889-2ocena3le54pnjf5dpvosd0tkebg3vs3</string>
	<key>API_KEY</key>
	<string>AIzaSyBLYJ3hFHGE7vrQLxL8ELranwZC8upZVhE</string>
	<key>GCM_SENDER_ID</key>
	<string>651831056889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thefood</string>
	<key>PROJECT_ID</key>
	<string>thefood-6e177</string>
	<key>STORAGE_BUCKET</key>
	<string>thefood-6e177.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651831056889:ios:455ff88f81536325d90528</string>
</dict>
</plist>